<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission needed to select a target app for password manager -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission"/>

    <application
        android:name=".PasswordVaultApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordVault">

        <!-- Main activity for the entire application -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PasswordVault"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for autofill authentication -->
        <activity
            android:name="de.christian2003.feature.autofill.presentation.ui.auth.AutofillAuthActivity"
            android:exported="false"
            android:theme="@style/Theme.PasswordVault.AutofillAuth"
            android:windowSoftInputMode="adjustNothing"/>

        <!-- Autofill service -->
        <service
            android:name="de.christian2003.feature.autofill.infrastructure.PasswordVaultAutofillService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/autofill_service"/>
        </service>
    </application>
</manifest>
