/*
This file contains the default style for embedded legal pages in Password Vault.
*/



/* Variables for the style */
:root {
    --color-primary: #1D7874;
    --color-background: #FAF9FE;
    --color-background-container: #E9E7EC;
    --color-text: #1B1A1F;
    --color-text-light: #444750;
    --color-divider: #C5C7C6;

    --size-text: 16px;
    --size-text-headline: 20px;
    --size-space-vertical: 8px;
    --size-space-vertical-between: 4px;
    --size-space-horizontal: 24px;
    --size-space-horizontal-between: 12px;
    --size-corner: 16px;
}

/* Variables for the style in dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #29A7A1;
        --color-background: #121317;
        --color-background-container: #292A2E;
        --color-text: #E3E2E7;
        --color-text-light: #C4C7D0;
        --color-divider: #454746;

        --size-text: 16px;
        --size-text-headline: 20px;
        --size-space-vertical: 8px;
        --size-space-vertical-between: 4px;
        --size-space-horizontal: 24px;
        --size-space-horizontal-between: 12px;
        --size-corner: 16px;
    }
}



/* Default styles for elements */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0px;
    margin: 0px;
}

hr {
    display: block;
    border: 1px solid var(--color-divider);
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--color-primary);
}
a:visited {
    color: var(--color-primary);
}

img {
    max-width: min(80%, 256px);
    height: auto;
    align-self: center;
    margin-top: var(--size-space-vertical);
    margin-bottom: var(--size-space-vertical);
}

h1 {
    margin: 0px;
    padding-left: var(--size-space-horizontal);
    padding-right: var(--size-space-horizontal);
    padding-top: var(--size-space-vertical);
    padding-bottom: var(--size-space-vertical-between);
    color: var(--color-text-light);
    font-size: var(--size-text-headline);
    font-weight: bold;
}

h2 {
    margin: 0px;
    padding-left: var(--size-space-horizontal);
    padding-right: var(--size-space-horizontal);
    padding-top: var(--size-space-vertical);
    padding-bottom: var(--size-space-vertical-between);
    color: var(--color-text-light);
    font-size: var(--size-text);
    font-weight: bold;
}

h3 {
    margin: 0px;
    padding-left: var(--size-space-horizontal);
    padding-right: var(--size-space-horizontal);
    padding-top: var(--size-space-vertical);
    padding-bottom: var(--size-space-vertical-between);
    color: var(--color-text-light);
    font-size: var(--size-text);
    font-weight: bold;
}

p {
    margin: 0px;
    padding-left: var(--size-space-horizontal);
    padding-right: var(--size-space-horizontal);
    padding-top: var(--size-space-vertical-between);
    padding-bottom: var(--size-space-vertical-between);
    color: var(--color-text);
    font-size: var(--size-text);
}

ol {
    display: block;
    margin: 10px 0px 10px 0px;
    padding-left: var(50px);
    padding-right: var(--size-space-horizontal);
}
ol > li {
    margin: 5px 0px 5px 0px;
}



/* Styles for centering images horizontally within a div */
div.centered {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div.centered > img {
    margin: 5px;
}



/* Styles for info containers */
.container-info {
    background-color: var(--color-background-container);
    margin-left: var(--size-space-horizontal);
    margin-right: var(--size-space-horizontal);
    margin-top: var(--size-space-vertical-between);
    margin-bottom: var(--size-space-vertical-between);
    border-radius: var(--size-corner);
}

.container-info > *:first-child {
    padding-top: var(--size-space-vertical);
}

.container-info > *:last-child {
    padding-bottom: var(--size-space-vertical);
}
