*.iml
.gradle
/local.properties
/.kotlin
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/markdown.xml
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/.name
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
