/*
This file contains the default style for embedded help pages in Password Vault.
*/



/* Variables for the style */
:root {
    --pv-primary: #1D7874;
    --pv-background: #FAF9FE;
    --pv-text: #1B1A1F;
    --pv-text-secondary: #444750;
    --pv-text-primary: #1D7874;
}

/* Variables for the style in dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --pv-primary: #29A7A1;
        --pv-background: #121317;
        --pv-text: #E3E2E7;
        --pv-text-secondary: #C4C7D0;
        --pv-text-primary: #29A7A1;
    }
}



/* Default styles for elements */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--pv-background);
    color: var(--pv-text);
}

a {
    color: var(--pv-text-primary);
}
a:visited {
    color: var(--pv-text-primary);
}

img {
    max-width: min(80%, 256px);
    height: auto;
    align-self: center;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 20px 0px 0px 0px;
}

h3 {
    margin: 15px 0px 0px 0px;
}

p {
    margin: 10px 0px 10px 0px;
}

ol {
    margin: 10px 0px 10px 0px;
}
ol > li {
    margin: 5px 0px 5px 0px;
}



/* Styles for centering images horizontally within a div */
div.centered {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div.centered > img {
    margin: 5px;
}
