<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission needed to select a target app for password manager -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>

    <!-- Permissions needed to automatically create / restore backups from media storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <!-- Permission needed to test whether internet is available before fetching for help pages -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordVault"
        android:name=".App">

        <!-- LoginActivity starts the entire application when opened through the launcher -->
        <activity android:name=".view.authentication.activity_login.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other activities of the application -->
        <activity android:name=".view.activity_main.MainActivity" android:exported="false"/>
        <activity android:name=".view.entries.activity_entry.EntryActivity" android:exported="false"/>
        <activity android:name=".view.passwords.activity_analysis.PasswordAnalysisActivity" android:exported="false"/>
        <activity android:name=".view.entries.activity_packages.PackagesActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_about.SettingsAboutActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_data.SettingsDataActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_security.SettingsSecurityActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_autofill.SettingsAutofillActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_customization.SettingsCustomizationActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_help.SettingsHelpActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_webview.WebviewActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_create_backup.CreateBackupActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_restore_backup.RestoreBackupActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_recovery.RecoveryActivity" android:exported="false"/>
        <activity android:name=".view.authentication.activity_security_question.SecurityQuestionActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_licenses.LicensesActivity" android:exported="false"/>
        <activity android:name=".view.settings.activity_settings.SettingsActivity" android:exported="false"/>
        <activity android:name=".view.activity_search.SearchActivity" android:exported="false"/>
        <activity android:name=".view.activity_legal.LegalActivity" android:exported="false"/>

        <!-- Activity used for authentication with autofill requests -->
        <activity
            android:name=".view.authentication.activity_autofill_authentication.AutofillAuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.PasswordVault.AutofillAuthentication"/>

        <!-- Autofill service for password manager -->
        <service
            android:name=".service.autofill.PasswordVaultAutofillService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/service_configuration"/>
        </service>

    </application>

</manifest>
