<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordVault"
        android:name=".App">

        <!-- LoginActivity starts the entire application when opened through the launcher -->
        <activity android:name=".view.activities.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other activities of the application -->
        <activity android:name=".view.activities.MainActivity" android:theme="@style/Theme.PasswordVault.ContainerNavBar" android:exported="false"/>
        <activity android:name=".view.activities.AddEntryActivity" android:exported="false"/>
        <activity android:name=".view.activities.EntryActivity" android:exported="false"/>
        <activity android:name=".view.activities.QualityGatesActivity" android:exported="false"/>
        <activity android:name=".view.activities.QualityGateActivity" android:exported="false"/>
        <activity android:name=".view.activities.PasswordAnalysisActivity" android:exported="false"/>
        <activity android:name=".view.activities.PasswordAnalysisListActivity" android:exported="false"/>
        <activity android:name=".view.activities.DuplicatePasswordEntriesActivity" android:exported="false"/>
        <activity android:name=".view.activities.DataConversionActivity" android:exported="false"/>
        <activity android:name=".view.activities.PackagesActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsAboutActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsDataActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsSecurityActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsAutofillActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsCustomizationActivity" android:exported="false"/>
        <activity android:name=".view.activities.SettingsHelpActivity" android:exported="false"/>
        <activity android:name=".view.activities.LocalizedAssetViewerActivity" android:exported="false"/>
        <activity android:name=".view.activities.CreateBackupActivity" android:exported="false"/>
        <activity android:name=".view.activities.RestoreBackupActivity" android:exported="false"/>
        <activity android:name=".view.activities.RecoveryActivity" android:exported="false"/>
        <activity android:name=".view.activities.SecurityQuestionActivity" android:exported="false"/>

        <!-- Activity used for authentication with autofill requests -->
        <activity android:name=".view.activities.AutofillAuthenticationActivity" android:exported="false"/>

        <!-- Autofill service for password manager -->
        <service
            android:name=".service.autofill.PasswordVaultAutofillService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/service_configuration"/>
        </service>

    </application>

    <!-- Permission needed to select a target app for password manager -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- Permissions needed to automatically create / restore backups from media storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
